// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul.navbar-nav {
  a {
    padding: 0px 15px; 
  }
  li {
    margin-right: 10px;
  }
}

.form-signin-heading {
  color: #333;
  text-align: center;
  text-shadow: 0 2px 2px #CCC;
}

h1.form-signin-heading {
  margin-top: 40px;
}

div.alert-danger {
  margin: 0px auto;
}

@media (min-width: 768px) {
  .registration.panel-primary div.input {
      width: 49%;
      display: inline-block;
  }
}