<div class="container discussion">
  <div class="row">
    <div class="well">
      <div class="row">
        <div class="col-xs-2">
          <a href="http://critterapp.pagodabox.com/others/admin" class="thumbnail">  <img src="http://critterapp.pagodabox.com/img/user.jpg" alt="">
          </a>
        </div>
        <div class="col-xs-10">
          <p><strong><%= discussion.subject %></strong></p>
          <p><%= discussion.content %></p>
        </div>
      </div>
    </div>
  </div>
</div>