<% content_for :discussions, "active" %>

<div class="container row">

  <div class="side-menu col-xs-3">
    <%= render "/layouts/side_menu" %>
  </div>
  <div class="content col-xs-9">

    <%= render '/discussions/discussion', discussion: @discussion %>
    <%= render '/discussions/messages' %>

  </div>
</div>
<%= link_to "Edit this discussion", edit_project_discussion_path(@project, @discussion.id) %>
