// Place all the styles related to the Discussions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.messages.container, div.discussion.container {
  width: 100%;
  p.subject {
    margin-bottom: 0px;
    font-weight: bold;
  }
  div.panel-primary {
    width: 100%;
    margin: 0px;
    &.widget {
      margin-bottom: 20px;
      img {
        margin-left: 0px;
      }
      p.author {
        display: inline-block;
      }
      p.subject {
        margin-bottom: 0px;
        font-weight: bold;
      }
      a[data-method="delete"] {
        float: right;
      }
      h3.panel-title {
        display: inline-block;
        margin-left: 10px;
      }
    }
  }
  div.add-comment {
    margin-left: 0px;
    form#new_message {
      div.input.message_content {
        margin-bottom: 20px;
      }
      input.btn {
        width: 30%;
        margin-left: 35%;
      }
    }
  }
}

div.discussion.content {
  padding-right: 50px;
  table {
    background-color: #eee;
    border: 1px solid #bbb;
  }
}