// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.nav.nav-pills {
  margin: 0 10%;
}

div.home.container {
  .thumbnail {
    border: 1px solid #ddd;
    border-radius: 4px;
    max-width: 100%;
    img {
      padding: 9px;
      max-width: 100%;
      &.add {
        padding: 70px;
      }
    }
    p {
      padding: 3px 9px;  
      &.view-btn {
        padding: 9px;
      }
      &.title {
        font-size: 1.1em;
        font-weight: bold;
        margin-bottom: 0px;
        a {
          float: right;
        }
      }
      &.description {
        height: 80px;
      }
    }
  }
}

div.jumbotron {
  border: 1px solid #bbb;
  padding: 20px 60px;
}

div.project-todo, div.project-discussion, div.project-file {
  .panel-heading {
    h3.panel-title {
      display: inline-block;
    }
    a {
      float: right;
    }
  }
  .thumbnail {
    p.title {
      text-align: center;
    }
  }
}

